.about {


  padding: 10px;
  margin: 1vw;
  background-color: black;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 3px aqua;



}

.about img {
  padding: 10px;
  margin: 20px;
  width: 350px;
  height: 460px;
  border: 1px solid grey;
  border-radius: 20px;
  justify-content: center;
}

.about_title {

  position: relative;
  left: 600px;
  bottom: 40px;

  font-size: 30px;

  border-radius: 70px;
  padding: 10px;
  background: #466368;
  background: linear-gradient(to right bottom, #ebee20, #67c8f8);
  height: fit-content;
  width: fit-content;



}

.text_about{
  color:aqua;
  font-size: 20px;
  text-align: center;
  text-decoration:underline;
  -webkit-text-stroke-width: 0.5px;
  /* text-decoration-thickness:2px ; */
  text-decoration-color:green ;

}



